<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dados dos Estados</title>
</head>
<body>
    <h1>Selecione um Estado</h1>

    <form id="estadoForm" method="get">
        <label for="estado">Escolha um estado:</label>
        <select id="estado" name="estado" required>
            {% for estado in estados %}
                <option value="{{ estado.id }}">{{ estado.nome }}</option>
            {% endfor %}
        </select>
        {% if estado %}
            <br>
            <label for="tipoVeiculo">Escolha o tipo do Veiculo:</label>
            <select id="tipoVeiculo" name="tipoVeiculo">
                    <option value="caminhoes">Caminhoes</option>
                    <option value="carros">Carros</option>
                    <option value="motos">Motos</option>
            </select>
            {% if dados_marca %}
                <br>
                <label for="arca">Escolha a Marca do Veiculo:</label>
                <select id="marca" name="marca">
                    
                    {% for marca in dados_marca %}
                        <option value="">{{ marca.nome }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        {% endif %}
        <button type="submit">Enviar</button>
    </form>
    <br>    
    <div id="infoEstado"></div>
</body>
</html>

